.container {
  width: 100%;
  height: 800px;
  background-color: rgb(126, 122, 115);
display: flex;
justify-content: center;
align-items: center;
align-items: center;


}




.calculadora {

  
box-shadow: 10px 10px 10px 1px rgb(240, 19, 19);
margin-top:20px;
box-sizing: border-box;
border:solid ,1px ;
text-align: center;
background-color: rgb(49, 47, 47);

width: 500px;
height: 650px;
border-radius: 10px 10px 10px 10px;



}
.fila {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  
}

 button {
  border-radius: 15%;
  border:solid 1px black;
  width:60px ;
  height: 100px;
  margin: 10px;
  color:rgb(240, 19, 19);
  background-color:rgb(15, 15, 15);
  font-size: large;
}

.boton :hover{
  color:white;
  background-color: rgb(194, 40, 40);

}

.pantalla {
  display: flex;
  width:500px;
  height: 80px;
  background-color: rgb(6, 7, 7);
  justify-content:end;
  justify-items: center;
  font-size: 45px;
  align-items: center;
  color:white;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;

  
}
.clear {
  display: flex;
  width:300px;
  height: 80px;
  background-color: rgb(54, 22, 23);
  justify-content: center;
  justify-items: center;
  font-size: 30px;
  align-items: center;
  color:rgb(145, 124, 124);
  box-shadow: 1px 1px 1px 1px rgb(15, 12, 12);
  border-radius: 10px 
  

  
}
.clear:hover{
  background-color: black;
  color: white;
  font-weight: bold;
}